h2 {
  text-align: left;
  padding-left: 10px;
  color: white;
}

.row {
  height: 150px;
  width: 100%;
  padding-bottom: 40px;
  margin-left: 50px;
}

.cards {
  display: flex;

  img {
    height: 150px;
    width: 250px;
    padding: 0 5px;
    border-radius: 20px;

    &:hover {
      transform: scale(1.3);
      cursor: pointer;
    }
  }
}
